<html>
<head>
    <title>BRemote: [[.title]]</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
<script>
    var connection = new WebSocket('[[.wsAddr]]/test/');

    // When the connection is open, send some data to the server
    connection.onopen = function () {
        connection.send('Ping'); // Send the message 'Ping' to the server
    };

    // Log errors
    connection.onerror = function (error) {
        console.log('WebSocket Error ' + error);
    };

    // Log messages from the server
    connection.onmessage = function (e) {
        console.log('Server: ' + e.data);
        $('#data').before('</br>'+e.data)
    };
</script>
</head>
<body>
<h1>
[[.title]]
</h1>
<pre>
    <div id="data"></div>
</pre>
</body>
</html>